.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: lightcyan;
  height: 100vh;
}

.playground {
  border-spacing: 1px;
  background-color: darkgray;
}

.playground, .playground td {
  border: 0.5px solid gray;
}

.playground td {
  width: 25px;
  height: 25px;
  background-color: lightgray;
}