.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: lightcyan;
  width: max-content;
  height: 100vh;
  --size: min(25px, 5.5vw)
}

.playground {
  border-spacing: 1px;
  background-color: gray;
}

.playground,
.playground td {
  border: 0.5px solid darkgray;
}

.playground td {
  width: var(--size);
  height: var(--size);
  background-color: lightgray;
}

.appbar {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pause-button {
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

button {
  border: 1px solid black;
}

button:active {
  background-color: cyan;
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: cyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.play-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.playground-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.playground-wrapper>*:not(:first-child) {
  margin-left: 10px;
}

.preview {
  width: 150px;
}

.controls,
.controls * {
  margin: 0;
  padding: 0;
}

.controls {
  margin-top: 20px;
}

.controls :is(td, button) {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 450px) {
  .playground-wrapper {
    flex-direction: column-reverse;
  }

  .preview {
    margin: 10px;
    width: max-content;
    align-self: center;
  }
}